# DATABASE CONNECTIONS
DB_USER = '[database username, whatever it may be...]'
DB_PWD = '[database password]'
HOST = '[db host ip address/name]'
PORT = '[db port number]'

# URLS
BACKEND_URL = '[direct url to front end]'
FRONTEND_URL = '[direct url to back end]'

# SPOTIFY CREDENTIALS
SPOTIFY_CLIENT_ID = '[client id for spotify web api]'
SPOTIFY_CLIENT_SECRET = '[secret key for spotify web api]'

# DJANGO BUILD CONFIG
DJANGO_SETTINGS_MODULE="app.settings"
PYTHONPATH="/app"