html, body {
    width: 100%;
    background-color: #FFF0F5;
}

.vibeBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    row-gap: 5vh;
}