@font-face {
    font-family: "Amatic SC";
    src: url("./ttf_files/Amatic SC.ttf");
}
@font-face {
    font-family: "Bangers";
    src: url("./ttf_files/Bangers.ttf");
}
@font-face {
    font-family: "Baskervville";
    src: url("./ttf_files/Baskervville.ttf");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("./ttf_files/Bebas Neue.ttf");
}
@font-face {
    font-family: "Big Shoulders Display";
    src: url("./ttf_files/Big Shoulders Display.ttf");
}
@font-face {
    font-family: "Courier Prime";
    src: url("./ttf_files/Courier Prime.ttf");
}
@font-face {
    font-family: "Creepster";
    src: url("./ttf_files/Creepster.ttf");
}
@font-face {
    font-family: "Dancing Script";
    src: url("./ttf_files/Dancing Script.ttf");
}
@font-face {
    font-family: "Doto";
    src: url("./ttf_files/Doto.ttf");
}
@font-face {
    font-family: "Edu AU";
    src: url("./ttf_files/Edu AU.ttf");
}
@font-face {
    font-family: "Ga Maamli";
    src: url("./ttf_files/Ga Maamli.ttf");
}
@font-face {
    font-family: "Great Vibes";
    src: url("./ttf_files/Great Vibes.ttf");
}
@font-face {
    font-family: "Indie Flower";
    src: url("./ttf_files/Indie Flower.ttf");
}
@font-face {
    font-family: "Kaushan Script";
    src: url("./ttf_files/Kaushan Script.ttf");
}
@font-face {
    font-family: "Merienda";
    src: url("./ttf_files/Merienda.ttf");
}
@font-face {
    font-family: "Monoton";
    src: url("./ttf_files/Monoton.ttf");
}
@font-face {
    font-family: "Orbitron";
    src: url("./ttf_files/Orbitron.ttf");
}
@font-face {
    font-family: "Oswald";
    src: url("./ttf_files/Oswald.ttf");
}
@font-face {
    font-family: "Permanent Marker";
    src: url("./ttf_files/Permanent Marker.ttf");
}
@font-face {
    font-family: "Playwrite AR";
    src: url("./ttf_files/Playwrite AR.ttf");
}
@font-face {
    font-family: "Poiret One";
    src: url("./ttf_files/Poiret One.ttf");
}
@font-face {
    font-family: "Press Start";
    src: url("./ttf_files/Press Start.ttf");
}
@font-face {
    font-family: "Reenie Beanie";
    src: url("./ttf_files/Reenie Beanie.ttf");
}
@font-face {
    font-family: "Rowdies";
    src: url("./ttf_files/Rowdies.ttf");
}
@font-face {
    font-family: "Shadows Into Light";
    src: url("./ttf_files/Shadows Into Light.ttf");
}
@font-face {
    font-family: "Six Caps";
    src: url("./ttf_files/Six Caps.ttf");
}
@font-face {
    font-family: "Squim";
    src: url("./ttf_files/Squim.ttf");
}
@font-face {
    font-family: "Tiny5";
    src: url("./ttf_files/Tiny5.ttf");
}
@font-face {
    font-family: "Yatra One";
    src: url("./ttf_files/Yatra One.ttf");
}
@font-face {
    font-family: "Zeyada";
    src: url("./ttf_files/Zeyada.ttf");
}